<h1>Booked Trades</h1>
<hr>
<div class="row">
  <div class="col-12">
    <a [routerLink]="['/new-trade']"
         class="btn btn-secondary trade-button float-right">
        New Trade
    </a>
  </div>
  <div class="col-12">
      <table class="table table-bordered">
          <thead class="thead-grey">
            <tr>
              <th>Sell CCY</th>
              <th>Sell Amount</th>
              <th>Buy CCY</th>
              <th>Buy Amount</th>
              <th>Rate</th>
              <th>Date Booked</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th scope="row">USD</th>
                <th>200,00</th>
                <th>EUR</th>
                <th>206,50</th>
                <th>1,0325</th>
                <th>25/03/2018 23:25</th>
            </tr>
            <tr>
                <th scope="row">GBP</th>
                <th>1250,50</th>
                <th>USD</th>
                <th>1023,89</th>
                <th>0,9801</th>
                <th>24/03/2018 18:01</th>
            </tr>
            <tr>
                <th scope="row">EUR</th>
                <th>23,50</th>
                <th>GBP</th>
                <th>18,05</th>
                <th>0,9621</th>
                <th>24/03/2018 17:25</th>
            </tr>
            <tr>
                <th scope="row">GBP</th>
                <th>5054,98</th>
                <th>EUR</th>
                <th>206,50</th>
                <th>4778,89</th>
                <th>23/03/2018 12:12</th>
            </tr>
          </tbody>
        </table>
  </div>  
</div>
