<h1>Booked Trades</h1>
<hr>
<div class="row">
  <div class="col-12">
    <a [routerLink]="['/new-trade']"
         class="btn btn-secondary trade-button float-right">
        New Trade
    </a>
  </div>
  <div class="col-12">
      <table class="table table-bordered">
          <thead class="thead-grey">
            <tr>
              <th>Sell CCY</th>
              <th>Sell Amount</th>
              <th>Buy CCY</th>
              <th>Buy Amount</th>
              <th>Rate</th>
              <th>Date Booked</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trade of trades">
                <th scope="row">{{ trade.sell_currency }}</th>
                <th>{{ trade.sell_amount }}</th>
                <th>{{trade.buy_currency }}</th>
                <th>{{ trade.buy_amount }}</th>
                <th>{{ trade.rate }}</th>
                <th>{{ trade.date_booked | date: 'dd/MM/yy HH:mm'}}</th>
            </tr>
          </tbody>
        </table>
  </div>  
</div>
